node_modules
.next
out
build
dist
dist-electron
*.tsbuildinfo

# Compiled Electron sources
electron/*.js

.env
.env.local
.env*.local

data/*.db
data/*.db-journal
data/*.db-wal
data/*.db-shm

.DS_Store
Thumbs.db
*.log
server.log
.vscode
.idea
